{% extends '_post.html' %}
{%hyde
title: "Fais p&#233;ter la Capsule!"
created: 2008-01-16%}
{% block article %}
{% article %}
Avec l'événement Apple on pouvait s'attendre à de nouveaux produits de la
grande pomme.

S'il y en a un dont je voudrais parler c'est le Time Capsule. Les [specs][1]
de l'engin traduisent en effet tous mes souhaits en matière de partage
"ergonomique". Il sera [![time capsule][2]][3]ainsi possible de partager non
seulement la traditionnelle connexion internet et ce que ce soit en RJ45 ou en
wifi mais également imprimante et espace de fichiers de 500go ou 1To. A tout
cela, ajoutez-y un système de sauvegarde permettant de sécuriser tout le
système informatique (lié avec Time Machine sur Leopard uniquement) accessible
par la capsule et vous trouvez l'engin idéal!

Franchement, à part le prix (419 CHF pour la version 500Go), c'est du tout
cuit!

   [1]: http://www.apple.com/timecapsule/specs.html

   [2]: http://poxd.files.wordpress.com/2008/01/image.png

   [3]: http://www.apple.com/timecapsule/


{% endarticle %}
{% endblock %}