{% extends '_post.html' %}
{%hyde
title: "GMAIL supporte IMAP - y parrait...."
created: 2007-10-24%}
{% block article %}
{% article %}
[Plusieurs][1] [news][2] [parlent][3] aujourd'hui du support [IMAP][4] par
[GMAIL][5] (qui en est à 4 go d'espace dispo en ce moment). Malheureusement,
perso je n'ai pas l'option d'activation (j'ai l'interface en anglais par
défaut). Cela fait maintenant un bon bout de temps que cette fonctionnalité
est réclamée... Des [solutions alternatives][6] ont été proposées et une
[pétition][7] a même circulé pour que Google ajoute la fonctionnalité.

* * *

La [pré-release 0.7 RC2][8] de [Sunbird][9] (la solution agenda de la
fondation Mozilla) est sortie et la RC3 est [prévue pour très
prochainement][10] (début de la semaine prochaine). Autrement dit, le projet
s'active bien! Et c'est une bonne nouvelle car ce projet est un bon espoir de
pouvoir synchroniser facilement votre agenda avec par exemple Google calendar
et donc votre assistant personnel.

A noter qu'il est possible de l'intégrer à Thunderbird pour avoir une
application tout-en-un - concurrent à Outlook. Ceci au travers du projet
[Lighting][11].

* * *

L'Adobe MAX s'est déroulé en Espagne cette semaine et voici [2][12]
[vidéos][13] certainement très intéressantes. Adobe fait vraiment un bel
effort pour rapprocher designer et développeur. C'est bien sympa!

* * *

Après la saison de F1 palpitante que l'on vient de passer, le calendrier de la
saison prochaine est sorti, si ca intéresse quelqu'un et que vous ne l'avez
pas encore vu, c'est [par là][14].

   [1]: http://fr.techcrunch.com/2007/10/24/gmail-bientot-compatible-imap/

   [2]: http://www.pcinpact.com/actu/news/39631-gmail-google-imap.htm

   [3]: http://slashdot.org/article.pl?sid=07/10/24/0249257&from=rss

   [4]: http://fr.wikipedia.org/wiki/Imap

   [5]: http://gmail.com

   [6]: http://www.mikeindustries.com/blog/archive/2006/04/how-to-use-gmail-
over-imap

   [7]: http://www.petitiononline.com/igmail/petition.html

   [8]: http://www.mozilla.org/projects/calendar/sunbird/l10n_download.html
#pre-release

   [9]: http://www.mozilla.org/projects/calendar/sunbird/

   [10]: http://weblogs.mozillazine.org/calendar/2007/10/07_status_update_octo
ber_20.html

   [11]: http://www.mozilla.org/projects/calendar/lightning/download.html

   [12]: http://www.tv4it.net/permalink/3455/adobe-max-le-media-player-ou-
comment-adobe-se-lance-sur-le-marche-de-la-monetisation-de-contenus-
videos.aspx

   [13]: http://www.tv4it.net/permalink/3456/adobe-max-mark-anders-fondateur-
de-flex-presente-thermo.aspx

   [14]: http://www.edicom.ch/fr/news/sport/1185_4440534.html?xtor=RSS-5


{% endarticle %}
{% endblock %}