{% extends '_post.html' %}
{%hyde
title: "Ma 1ère application Flex"
created: 2008-10-21%}
{% block article %}
{% article %}
Mon apprentissage de Flex continue sur la bonne voie avec ma première
application aujourd'hui. Rien de bien exceptionnel en l'occurence...

J'ai créé un client à [Google Translate][1] avec le thème par défaut de
Flex... Donc rien d'exceptionnellement joli. Le code source [est
disponible][2], n'hésitez pas à commenter. Pour apprendre Flex celà peut être
un bon début de créer ce genre d'application accédant à un service distant
pour avoir un minimum de code ActionScript à créer et pas "seulement" une
interface graphique.

Petite démo:

# Translator

Le plugin Flash doit être installé [
src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
alt="Get Adobe Flash player" />][3]

Ce serait sympa de tenter l'expérience design sur cette petite application.
J'adore les belles applications mais malheureusement je ne suis pas très doué
niveau graphisme... Donc on verra si j'ai le courage de m'y mettre.

   [1]: http://translate.google.com/translate_t#

   [2]: /ext/flex/translator.zip

   [3]: http://www.adobe.com/go/getflashplayer


{% endarticle %}
{% endblock %}