{% extends '_post.html' %}
{%hyde
title: "Monde Linux : nouvelle approche"
created: 2007-08-31%}
{% block article %}
{% article %}
Cela faisait un bon moment que je n'avais plus retouché à Linux. Lorsque je le
manipulais c'était sur une distribution Suse version 6 si mes souvenirs sont
bons. J'avais ainsi pu me forger mon avis concernant ce système, conclusion:
trop de configuration à faire.Quelques années plus tard, je me suis dit que ce
serait bien de jeter un oeil sur les nouvelles versions de Linux. Après un
petit tour d'horizon, je me suis tourné sur Ubuntu. C'est vite dit puisque je
ne suis pas passé à l'installation à proprement dit avant bien des
mois.Maintenant c'est fait, la distrib est installée en dual-boot avec XP et
la plupart des composants qui me sont importants sont installés. La gestion de
mon set clavier/souris en bluetooth ainsi que ma carte réseau wifi auront été
les 2 périphériques les plus ardus à configurer mais tout de même bien plus
facile que sur une Suse 6 ;)La distrib Ubuntu a pour objectif de permettre à
n'importe qui de passer sur un système libre. Ce que l'on peut dire
aujourd'hui c'est qu'il est clair que cet humble objectif n'est pas encore
atteint. Cependant, avec sa communité très active et grandissante, nous
pouvons raisonnablement dire que ce projet à bien bel avenir et qu'un beau
jour peut-être bien que l'objectif sera atteint!Prochainement - les quelques
applics et config bien utile pour cette distrib.


{% endarticle %}
{% endblock %}