{% extends '_post.html' %}
{%hyde
title: "News en vrac"
created: 2008-09-29%}
{% block article %}
{% article %}
#1 Le 4eme jour de la serie [Flex in a Week][1] a [ete publie][2].

#2 Neal Gafter quitte Sun  Google pour Microsoft. L'exode de figures de Sun
continue. Neal Gafter était parti de Sun pour rejoindre Google en 2004 déjà.

#3 Stackoverflow accueille pour sa part un nouveau grand nom en la personne de
[John Resig][3], expert Javascript (review de stackoverflow prochainement).

3617 ma vie:

#3 Samedi j'ai une nouvelle voiture.

#4 Logica m'offre une formation Spring.

#5 Je suis une Legende.... Bof bof.

   [1]: http://www.adobe.com/devnet/flex/videotraining/

   [2]: http://feeds.feedburner.com/~r/flexteam/~3/403985040/flex_in_a_week_da
y_4_posted_an.html

   [3]: http://stackoverflow.com/users/6524/john-resig


{% endarticle %}
{% endblock %}