{% extends '_post.html' %}
{%hyde
title: "Pour aller encore plus loin avec vos murs"
created: 2008-10-22%}
{% block article %}
{% article %}
J'ai découvert il y a peu [des tapisseries sympa][1]... Et bien je suis tombé
sur encore mieux aujourd'hui avec des pièces entièrement thématisées Mario!

![][2]


> <div style="text-align:center;"> <img
src="http:/antoinettejcitizen.googlepages.com/doorwall.jpg/doorwall-
full;init:.jpg" alt="" width="400" />

Bravo [l'artiste][3]! Découvert par l'intermédiaire du blog [Terra Pixela ][4]
et son billet [Super “Antoinette J. Citizen” World][5]

   [1]: http://www.poxd.org/wp-admin/post.php?action=edit&post=90

   [2]: http://pages.google.com/edit/antoinettejcitizen/vine.jpg/vine-
custom;size:600,567.jpg

   [3]: http://antoinettejcitizen.googlepages.com/

   [4]: http://www.terrapixela.com/

   [5]: http://www.terrapixela.com/pixel-art-tresors/582-mario-deco-super-
antoinette-j-citizen-world.html


{% endarticle %}
{% endblock %}