{% extends '_post.html' %}
{%hyde
title: "PoXd relooké"
created: 2008-11-21%}
{% block article %}
{% article %}
[Release early, release often][1]... Dicton bien connu de la communauté open-
source, je l'applique aujourd'hui à mon design non finalisé mais fonctionnel.
J'en suis déjà bien content mais ce n'est pas fini! Toutes remarques
concernant des bugs, un mauvais choix de couleur (mauvaise compatibilité, pas
de goût), ou mauvaise accessibilité sont les bienvenues. Dans le désordre j'ai
encore toute une liste d'améliorations à effectuer à mon design:

  * design et contenu du pied de page

  * design des commentaires géré par [disqus][2]

  * introduction d'un module de recherche (top priority)

  * design du lifestream (gestion des liens, meilleur agencement, cache)

  * amélioration des performances

  * ajout ou modification des sections colophon, labo, à propos

  * généralisation du thème dans le but de le partager

  * favicon

Voilà il y a encore du boulot mais l'expérience d'un thème wordpress était
bien sympa!

   [1]: http://www.paulgraham.com/startuplessons.html

   [2]: http://disqus.com


{% endarticle %}
{% endblock %}