{% extends '_post.html' %}
{%hyde
title: "Vous faisiez quoi à 12 ans vous?"
created: 2009-08-27%}
{% block article %}
{% article %}
Moi à 12 ans je passais mon temps entre jouer, jouer et jouer. J'exagère mais
à peine, encore aujourd'hui si ce que je dois faire peut prendre une forme
ludique je n'hésiterai pas.

Tout ça pour dire que certains à 12 ans, donnent des présentations chez
Google. Rien que ça! Ce petit bonhomme donne d'ailleurs une introduction de
très bonne facture à jQuery dans le cadre du _Summer of Code_ the Google dans
lequel d'ailleurs il a officié - en tout cas cette année - [en tant que
_mentor_][1]!

Plutôt bluffant non? On peut retrouver le présentateur sur son [site][2] ou
encore sur [twitter][3].

   [1]: http://google-opensource.blogspot.com/2009/08/wrapping-our-fifth-
google-summer-of.html

   [2]: http://dmitrizone.com/

   [3]: twitter


{% endarticle %}
{% endblock %}